#version=RHEL8
# Use graphical install
graphical

# OSTree setup
ostreesetup --osname="mkex" --remote="mkex" --url="file:///ostree/repo" --ref="mkex/8/x86_64/mcr23.0.15-mke3.7.15/common/stable" --nogpg

%post --erroronfail
ostree remote delete mkex
ostree remote add --no-gpg-verify mkex https://get.mirantis.com/mkex/ostree
%end

%packages
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --use-system-defaults
# Network information
network  --bootproto=dhcp --device=enp0s1 --ipv6=auto --activate
network  --hostname=mkex2

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$WZpEVfvUO4vldj9F$kRVOhkkfgJjPmAoMMjPosOpzWS8fcLJhwwXC0pTyYnDouQVvZyQKlLYTiCEAl8iuZVV8dKSzLW.0FbZMwqPxm.
user --groups=wheel --name=kevin --password=$6$JMuOLPv8gF2opLmR$8168KwyOsyXr1suVRv1myqqE753PrkvaRoMlerQNJzxfvzsT/631uYQAlH2Dbyxj94XIwx1xOhO20r8UMg1Gi0 --iscrypted --gecos="kevin"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
